:root {
/* PRIMARY */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram-lg1: hsl(37, 97%, 70%);
    --instagram-lg2: hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);
    /* dark theme */
    --toggle-dark-lg1: hsl(210, 78%, 56%);
    --toggle-dark-lg2: hsl(146, 68%, 55%);
    /* light theme */
    --toggle-light: hsl(230, 22%, 74%);

/* NEUTRAL */
    /* dark theme */
    --very-dark-blue1: hsl(230, 17%, 14%); /* BG */
    --very-dark-blue2: hsl(232, 19%, 15%); /* Top BG Pattern */
    --dark-desaturated-blue: hsl(228, 28%, 20%); /* Card BG */
    --desaturated-blue: hsl(228, 34%, 66%); /* Text */
    --white-dark: hsl(0, 0%, 100%); /* Text */
    /* light theme */
    --white-light: hsl(0, 0%, 100%); /* BG */
    --very-pale-blue: hsl(225, 100%, 98%); /* Top BG Pattern */
    --light-grayish-blue: hsl(227, 47%, 96%); /* Card BG */
    --dark-grayish-blue: hsl(228, 12%, 44%); /* Text */
    --very-dark-blue: hsl(230, 17%, 14%); /* Text */
}
@font-face {
    font-family: Inter;
    src: url("/Inter-VariableFont_slnt,wght.ttf");
}

/* Body / Containers */
body {
    font-family: Inter, sans-serif;
}
.page-wrapper {
    position: relative;
    z-index: 99;
    gap: 80px;
    height: 100vh;
}
#top-bg, #bottom-bg {
    position: absolute;
}
#top-bg {
    height: 30%;
    width: 100%;
    background-color: var(--very-pale-blue);
    z-index: 1;
}
#bottom-bg {
    top: 70%;
    height: 75%;
    width: 100%;
    background-color: var(--white-light);
    z-index: 1;
}
header.container {
    height: 15%;
}
#sm-cards-container {
    height: 35%;
}
#overview-cards-container {
    height: 55%;
}
footer.container {
    height: 5%;
    flex-direction: row;
}

header h1 {
    line-height: 35px;
}
header p {
    font-weight: 700;
    color: var(--dark-grayish-blue);
    font-size: 15px;
}
/* Social Media Cards Section */
.sm-card {
    height: 100%;
    background-color: var(--light-grayish-blue);
    border-radius: 0 0 8px 8px;
    position: relative;
    border: 1px solid transparent;
    gap: 10%;
}
.sm-card .row {
    gap: 4px;
}
.sm-handle {
    color: var(--dark-grayish-blue);
}
.displacement-down, .displacement-up {
    font-weight: 800;
    font-size: 12px;
}
.displacement-up {
    color: var(--lime-green);
}
.displacement-down {
    color: var(--bright-red);
}
.followers-count {
    font-size: 60px;
    line-height: 60px;
}
.followers-label {
    color: var(--dark-grayish-blue);
    letter-spacing: 4px;
    font-size: 15px;
}
.arrow-icon {
    height: 8px;
    width: 8px;
}
#facebook-card::before, #twitter-card::before, #instagram-card::before, #youtube-card::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -1px;
    right: -1px;
    height: 10px;
    border-radius: 8px;
    z-index: -1;
}
#facebook-card::before {
    background: var(--facebook);
}
#twitter-card::before {
    background: var(--twitter);
}
#instagram-card::before {
    background: linear-gradient(to right, var(--instagram-lg1), var(--instagram-lg2));
}
#youtube-card::before {
    background: var(--youtube);
}
#youtube-card .displacement {
    color: var(--bright-red);
}

/* Social Media Overview Cards Section */
#overview-header {
    color: var(--dark-grayish-blue);
    font-size: 35px;
}
#overview-cards-box {
    gap: 20px;
}
.overview-card {
    min-width: 20%;
    max-width: 25%;
    height: 55%;
    gap: 15px;
    padding: 10px 10px;
    background-color: var(--light-grayish-blue);
    border-radius: 8px;
}
.overview-card-logo {
    height: 25px;
    width: 25px;
}
.overview-category {
    font-size: 20px;
    font-weight: 800;
    color: var(--dark-grayish-blue);
}
.overview-card h3 {
    font-size: 40px;
}
.arrow-row {
    display: flex;
    align-items: center;
    gap: 4px;
}


/* Citation */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }